[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
black = "*"
pylint = "*"
isort = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3"

